<h1>All Countries</h1>

<% @countries.each do |country|%>
  <%= country.name %>
  <%= country.capital %>
  <%= country.region %>
  <%= country.population %>
<% end %>

<table id="countries" class="display" data-source="/geodata/city_links_for_state_of/NE.json">
        <thead>
          <tr>
            <th>Name</th>
            <th>Capital</th>
            <th>Region</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
       </table>